.home{
    width: 100%;
    height: 100%;
    background-color: #0e1015;
}
.mainContainer{
    width: 100%;
    display: flex;
    background-color: #0e1015;

}
.primarySidebar{
   width: 30%;
   background-color: white;

}
.mainWrapper{
    width: 100%;
    background-color: #0F1015;
}
.header{
}
.mainContent{

}
.footer{

}
.secondarySidebar{
    width: 90px;
    background-color: white;
}
