.mainContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0),
    url("https://blitz-cdn.blitz.gg/homepage/download-banner-bg.webp");
  background-position: 25% 50%;
  background-size: 150% auto;
}
.mainContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.info {
  font-weight: bold;
  font-size: 16px;
  color: #999ca3;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.downloadAction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  opacity: 0.8;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #dd364d;
  margin-right: 20px;
}
.downloadAction:hover {
  opacity: 1;
}

.signup {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #999ca3;
  font-weight: bold;
  opacity: 0.8;
  background-color: #272a30;
}
.signup:hover {
  opacity: 1;
  color: white;
}
