.footer {
  width: 100%;
  height: 400px;
  background-color: #13151b;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.col {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
}
.actionCol {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 10px;
  /* align-items: center; */
}
.downloadAction {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
}
.window {
  color: white;
  background-color: #dd364d;
}
.punchAction {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
  margin-top: 16px;
}
.punch {
  color: #999ca3;
  background-color: #272a30;
}
.table {
  margin-top: 50px;
  color: white;
}

.table th {
  color: #999ca3;
  letter-spacing: 1.5px;
  font-size: 12px;
}
.table tr td {
  padding: 10px;
  padding-right: 70px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.table tr td:hover {
  color: #999ca3;
}
.table tr th {
  padding: 10px;
  padding-right: 70px;
}

.logoContainer {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 8px 8px 8px 32px; */
  margin-bottom: 40px;
  cursor: pointer;
}
.logoIcon {
  /* margin-right: 20px; */
}
.logo {
  font-size: 18px;
  /* line-height: 20px; */
  font-weight: bold;
  color: white;
  letter-spacing: 0.1cm;
}
.secondRow {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info {
  color: #999ca3;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}
.madeWith {
  color: #999ca3;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
.info:hover {
  color: #7c7e81;
}
