.footer {
  width: 100%;
  /* height: 400px; */
  background-color: #13151b;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-end; */
}
.col {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.actionCol {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 40px; */
  padding-top: 10px;
}

.downloadAction {
  width: 245px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  margin-right: 6px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  color: white;
  background-color: #dd364d;
}
.downloadAction:hover {
  opacity: 1;
  /* padding: 12px 14px; */
}

.punchAction {
  width: 245px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 16px;
  opacity: 0.8;
  color: #999ca3;
  background-color: #272a30;
}
.punchAction:hover {
  opacity: 1;
  color: white;
}
.table {
  width: 100%;
  margin-top: 50px;
  color: white;
}

.table th {
  color: #999ca3;
  letter-spacing: 1.5px;
  font-size: 12px;
}
.table tr td {
  padding: 5px;
  padding-right: 70px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.table tr td:hover {
  color: #999ca3;
}
.table tr th {
  padding: 5px;
  padding-right: 70px;
}

.logoContainer {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 8px 8px 8px 32px; */
  margin-bottom: 40px;
  cursor: pointer;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1cm;
}
.secondRow {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.table tr .info {
  color: #999ca3;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}
.madeWith {
  width: 100%;
  margin-bottom: 28px;
  color: #999ca3;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  text-align: center;
}
.table tr .info:hover {
  color: #7c7e81;
}
