.header {
  height: 168px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: sticky;
}
.headerButton {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
  opacity: 0.8;
}

.headerButton:hover {
  opacity: 1;
  color: white;
}

.signIn {
  color: hsla(222deg 5% 62%);
  background-color: #272a30;
}

.window {
  color: white;
  background-color: #dd364d;
}

.searchInput {
  padding-left: 45px;
  border-radius: 5px;
  width: 584px;
  height: 56px;
  border: none;
  outline: none;
  font-size: 18;
}
.logoContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 8px 8px 22px;
  margin-bottom: 20px;
  cursor: pointer;

}
.logoIcon{
margin-right: 15px;
}
.logo{
  font-size: 22px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1cm;
}

.searchDiv {
  /* width: 100%; */
}

@media screen and (max-width: 1024px) {
  .searchInput {
    width:  100%;
    height: 40px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    height: 65px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .logoContainer{ 
    padding: 8px 8px 8px 0px;
  }
  .searchDiv {
    width: 77vw;
    position: absolute;
    left: -87px;
  }
}


