.headerSlider {
    /* height: 64px; */
    /* margin-top: 20px; */
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* justify-content: space-between; */
    /* background-color: aqua; */
}