.sidebar {
    height: 100%;
    width: calc(calc(0.25 * 1rem) * 60);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #101318;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    white-space: nowrap;
    box-sizing: border-box;
    border-right: 1px solid hsla(222deg 14% 11% / 1);
    box-shadow: 0 0 calc(0.25 * 2rem) hsla(222deg 33% 4% / 1);
}
.logoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 8px 8px 22px;
    margin-bottom: 20px;
    cursor: pointer;

}
.logoIcon{
margin-right: 27px;
}
.logo{
    font-size: 22px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1cm;
}
.listWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 22px;
    box-sizing: border-box;
}
.row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #7e828b;
    margin-bottom: 30px;
    cursor: pointer;
}
.row:hover{
color:#e2e4e9;
}
.title{
    font-weight: bold;
    font-size: 16px;
    margin-left: 52px;

}
.icon{
    font-size: 24px;
    margin-right: 28px;
    position: fixed;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

@media screen and (max-width: 1510px) {
    .sidebar {
        width: calc(calc(0.25 * 1rem) * 18);
    }
}

@media screen and (min-width: 1511px) {
    .sidebar {
        width: calc(calc(0.25 * 1rem) * 60);
    }
}